<div id="<%= dom_id ticket %>">
  <p>
    <strong>Name:</strong>
    <%= ticket.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= ticket.address %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= ticket.contact %>
  </p>

  <p>
    <strong>No passengers:</strong>
    <%= ticket.no_passengers %>
  </p>

  <p>
    <strong>Passenger name:</strong>
    <%= ticket.passenger_name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= ticket.age %>
  </p>

  <p>
    <strong>Source station:</strong>
    <%= ticket.source_station %>
  </p>

  <p>
    <strong>Dest station:</strong>
    <%= ticket.dest_station %>
  </p>

</div>
