<div id="<%= dom_id resume %>">
  <p>
    <strong>Name:</strong>
    <%= resume.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= resume.phone %>
  </p>

  <p>
    <strong>Skills:</strong>
    <%= resume.skills %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= resume.age %>
  </p>

</div>
