<div id="<%= dom_id customer %>">
<table>
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= customer.contact %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= customer.gender %>
  </p>

  <p>
    <strong>Favourite:</strong>
    <%= customer.favourite %>
  </p>
  </table>
</div>
