<!DOCTYPE html>
<html>
  <head>
    <title>BusTicket</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <form action="/search">
      <input placeholder="Search" name="key_name key_pass_name" type="text">
      <button type="submit">Search</button>
    </form>
    <%= yield %>
  </body>
</html>
